Flask==2.3.4
Flask-SQLAlchemy==3.0.0
pyngrok==5.1.0
transformers==4.30.0
pillow==9.3.0
pymupdf==1.22.6
pdfplumber==0.8.2
python-pptx==0.6.21
torch==2.0.0
torchvision==0.15.0
pytesseract==0.3.10
groq==0.0.4
spire.doc==10.8.0
python-docx==0.8.11
nltk==3.8.1
